{% extends 'frontend/base.html' %}


{% block title %} {{ main_item }} {% endblock %}
{% block body %}
<div class="jeg_ad jeg_ad_top jnews_header_top_ads">
    <div class="ads-wrapper ">{{ options.hor_ad_two | safe }}</div>
</div>
<div class="jeg_viewport">
    {% include 'frontend/header.html' %}
    <div class="jeg_main">
        <div class="row vc_row wpb_row vc_row-fluid">
            <div class="jeg-vc-wrapper">
                <div class="jeg_postblock_22 jeg_postblock jeg_module_hook jeg_pagination_disable jeg_col_2o3 jnews_module_44_2_61ad862adf625   "
                data-unique="jnews_module_44_2_61ad862adf625">
                <div class="jeg_block_container">
                    <div class="jeg_posts_wrap">
                        <div class="jeg_posts jeg_load_more_flag" id="element_top" style="margin-top: 32px; justify-content: center;">


                        </div>
                    </div>
                    <div class="module-overlay">
                        <div class="preloader_type preloader_dot">
                            <div class="module-preloader jeg_preloader dot">
                                <span></span><span></span><span></span></div>
                            <div class="module-preloader jeg_preloader circle">
                                <div class="jnews_preloader_circle_outer">
                                    <div class="jnews_preloader_circle_inner"></div>
                                </div>
                            </div>
                            <div class="module-preloader jeg_preloader square">
                                <div class="jeg_square">
                                    <div class="jeg_square_inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jeg_block_navigation">
                    <div class="navigation_overlay">
                        <div class="module-preloader jeg_preloader">
                            <span></span><span></span><span></span></div>
                    </div>
                </div>

            </div>
                <div class="wpb_column jeg_column vc_column_container vc_col-sm-8 jeg_main_content">
                    <div class="jeg_wrapper wpb_wrapper">
                   
                       
                      
                        <div
                            class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text">
                            <span class="vc_sep_holder vc_sep_holder_l"><span style="border-color:#eeeeee;"
                                    class="vc_sep_line"></span></span><span
                                class="vc_sep_holder vc_sep_holder_r"><span style="border-color:#eeeeee;"
                                    class="vc_sep_line"></span></span>
                        </div>
                        <div
                            class="jeg_ad jeg_ad_module jnews_module_44_3_61ad862ae21df  vc_custom_1505188671296 ">
                            {% if options.hor_ad_one %}
                                {{ options.hor_ad_one | safe }}
                            {% else %}
                            <div class="ads-wrapper"><a href="#" target="_self" rel="noopener"
                                    class="adlink ads_image "> <img
                                        src="images/gif;base64,R0lGODlhAQABAIAAAP-wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                        class="lazyload"
                                        data-src="https://jnews.io/newspaper/wp-content/uploads/sites/21/2017/05/728x90_3.png"
                                        alt="Advertisement Banner" data-pin-no-hover="true"> </a></div>
                            {% endif %}
                                    </div>
                        <div
                            class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text">
                            <span class="vc_sep_holder vc_sep_holder_l"><span style="border-color:#eeeeee;"
                                    class="vc_sep_line"></span></span><span
                                class="vc_sep_holder vc_sep_holder_r"><span style="border-color:#eeeeee;"
                                    class="vc_sep_line"></span></span>
                        </div>
                        <div class="jeg_postblock_10 jeg_postblock jeg_module_hook jeg_pagination_disable jeg_col_2o3 jnews_module_44_4_61ad862ae2b0c vc_custom_1498451819814  ">
                            <div class="jeg_block_container">
                                <div class="jeg_posts jeg_load_more_flag" id="element_one">

                                </div>
                                <div class="module-overlay">
                                    <div class="preloader_type preloader_dot">
                                        <div class="module-preloader jeg_preloader dot">
                                            <span></span><span></span><span></span></div>
                                        <div class="module-preloader jeg_preloader circle">
                                            <div class="jnews_preloader_circle_outer">
                                                <div class="jnews_preloader_circle_inner"></div>
                                            </div>
                                        </div>
                                        <div class="module-preloader jeg_preloader square">
                                            <div class="jeg_square">
                                                <div class="jeg_square_inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jeg_block_navigation">
                                <div class="navigation_overlay">
                                    <div class="module-preloader jeg_preloader">
                                        <span></span><span></span><span></span></div>
                                </div>
                            </div>

                        </div>
                        <div
                            class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_custom_1497953286225  vc_custom_1497953286225">
                            <span class="vc_sep_holder vc_sep_holder_l"><span style="border-color:#eeeeee;"
                                    class="vc_sep_line"></span></span><span
                                class="vc_sep_holder vc_sep_holder_r"><span style="border-color:#eeeeee;"
                                    class="vc_sep_line"></span></span>
                        </div>
                        <div class="jeg_postblock_3 jeg_postblock jeg_module_hook jeg_pagination_disable jeg_col_2o3 jnews_module_44_5_61ad862ae48af   "
                            data-unique="jnews_module_44_5_61ad862ae48af">
                            <div class="jeg_posts jeg_block_container">
                                <div class="jeg_posts jeg_load_more_flag" id="element_two">


                                </div>
                                <div class="module-overlay">
                                    <div class="preloader_type preloader_dot">
                                        <div class="module-preloader jeg_preloader dot">
                                            <span></span><span></span><span></span></div>
                                        <div class="module-preloader jeg_preloader circle">
                                            <div class="jnews_preloader_circle_outer">
                                                <div class="jnews_preloader_circle_inner"></div>
                                            </div>
                                        </div>
                                        <div class="module-preloader jeg_preloader square">
                                            <div class="jeg_square">
                                                <div class="jeg_square_inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jeg_block_navigation">
                                <div class="navigation_overlay">
                                    <div class="module-preloader jeg_preloader">
                                        <span></span><span></span><span></span></div>
                                </div>
                            </div>

                        </div>
                        <div class="vc_empty_space" style="height: 15px"><span
                                class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
                <div
                    class="wpb_column jeg_column vc_column_container vc_col-sm-4 jeg_sticky_sidebar jeg_sidebar">
                    <div class="jegStickyHolder">
                        <div class="theiaStickySidebar">
                            <div class="jeg_wrapper wpb_wrapper">
                                <div class="jeg_ad jeg_ad_module jnews_module_44_6_61ad862ae744b   ">
                                    {% if options.home_ad_side %}
                                        {{ options.home_ad_side | safe }}
                                    {% else %}
                                    <div class="ads-wrapper"><a href="#" target="_blank"
                                            rel="nofollow noopener" class="adlink ads_image "> <img
                                                src="images/gif;base64,R0lGODlhAQABAIAAAP-wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                class="lazyload"
                                                data-src="https://jnews.io/newspaper/wp-content/uploads/sites/21/2017/06/ad_300x600.jpg"
                                                alt="Advertisement Banner" data-pin-no-hover="true">
                                        </a></div>
                                    {% endif %}
                                </div>
                          
                              
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="moreCnt" style="text-align: center;
    margin-bottom: 30px;">
    <button onclick="getNewsCategory()"  class="jeg_readmore" id="more_btn" style="    width: 200px;
    height: 57px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
">See More</button>
</div>
    {% include 'frontend/footer.html' %}
</div>
{% include 'frontend/mobile_header.html' %}
<script>
    category = '{{ main_item }}'
    page_no = 1
    function getNewsCategory() {
        fetch(`/rss/newsSource/${category}`,{
            method : "POST",
            body : JSON.stringify({
                "page_no" : page_no
            })
        })
        .then(response => response.json())
        .then(data => {
                if (!data['next']) {
                    document.querySelector("#more_btn").style.display = 'none';
                }
                info = data['feed']
                elm_top = document.querySelector("#element_top")
                elm_one = document.querySelector("#element_one")
                elm_two = document.querySelector("#element_two")
                for (var i = 0; i < info.length; i++) {
                    if (page_no == 1 && i < 3) {
                    elm_top.innerHTML += `
                    <article class="jeg_post jeg_pl_md_5 format-standard" style="width:25%;">
                        <div class="jeg_thumb"> <a
                                href="/news/${info[i]['id']}/${info[i]['title'].replaceAll(" ", "-")}">
                                <div
                                    class="thumbnail-container size-715 ">
                                    <img width="350" height="250"
                                        src="${info[i]['img']}"
                                        class="lazyload wp-post-image"
                                        alt="${info[i]['title']}"
                                        loading="lazy"
                                        data-src="${info[i]['img']}"
                                        data-sizes="auto" data-expand="700"></div>
                            </a>
                            <div class="jeg_post_category"> <span><a
                                        href="/category/${info[i]['category']}">${info[i]['category']}</a></span>
                            </div>
                        </div>
                        <div class="jeg_postblock_content">
                            <h3 class="jeg_post_title"> <a
                                    href="/news/${info[i]['id']}/${info[i]['title'].replaceAll(" ", "-")}">${info[i]['title']}</a></h3>
                            <div class="jeg_post_meta">
                                <div class="jeg_meta_date"><a
                                        href="/source/${info[i]['source']}"> ${info[i]['source']}</a></div>
                                <div class="jeg_meta_date"><a
                                        href=""><i
                                            class="fa fa-clock-o"></i>  ${info[i]['pub_date']}</a></div>
                            </div>
                        </div>
                    </article>
    `
                    } else {
                        page_no += 1
                        elm_two.innerHTML += `
                        <article class="jeg_post jeg_pl_md_2 format-standard">
                            <div class="jeg_thumb"> 
                                <a href="/news/${info[i]['id']}/${info[i]['title'].replaceAll(" ", "-")}">
                                    <div class="thumbnail-container  size-715 ">
                                        <img width="350" height="250" src="${info[i]['img']}" class="wp-post-image lazyautosizes lazyloaded" alt="${info[i]['title']}" loading="lazy" data-src="${info[i['img']]}" data-sizes="auto" data-expand="700" sizes="260px">
                                    </div>
                                    </a>
                                </div>
                                <div class="jeg_postblock_content"><h3 class="jeg_post_title"> 
                                    <a href="/news/${info[i]['id']}/${info[i]['title'].replaceAll(" ", "-")}">${info[i]['title']}</a></h3>
                                <div class="jeg_post_meta"><div class="jeg_meta_author"><span class="by">by</span> <a href="/source/${info[i]['source']}">${info[i]['source']}</a></div>
                                    <div class="jeg_meta_date"><a href=""><i class="fa fa-clock-o"></i> ${info[i]['pub_date']}</a></div>
                                </div><div class="jeg_post_excerpt"><p>${info[i]['description']}...</p>
                                    </div>
                                </div> <div style="float : right;"><a
                                href="/news/${info[i]['id']}/${info[i]['title'].replaceAll(" ", "-")}"
                                class="jeg_readmore">Read more</a>
                                </div>
                        </div>
                                    </div>
                        </article>
                    `
                    }

                }
                page_no += 1
            })
        }
        getNewsCategory()
</script>


{% endblock %}